<div *ngIf="!isHomePage">
    <mat-toolbar>
        <span routerLink="">Joel Bank</span>
        <span class="example-spacer"></span>
        <button mat-button routerLink="/cliente">Gerenciar clientes</button>
        <button mat-button routerLink="/conta">Gerenciar contas</button>
        <button mat-button routerLink="/conta/saque">Saque</button>
        <button mat-button routerLink="/conta/deposito">Depósito</button>
        <button mat-button routerLink="/conta/transferencia">Transferência</button>
    </mat-toolbar>
</div>